<title>Deletar Fornecedor</title>

{% extends "layout.html" %}

{% block rolf %}
<div class="container">
    <h2 id="titulo-pags">Deletar Fornecedor</h2>

    <form class="ml-3" action="/saveDeletarFornecedor" method="POST" name="form_insercao" class="ml-3">
        <input type="hidden" name="id_fornecedor" value="{{fornecedor.id_fornecedor}}">

        <div class="form-group">
            <label for="inputNome">Nome</label>
            <input type="text" name="nome" class="form-control" value="{{fornecedor.nome}}" disabled="true">
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCnpj">CNPJ</label>
                <input type="text" name="cnpj" class="form-control" value="{{fornecedor.cnpj}}" disabled="true">
            </div>

            <div class="form-group col-md-6">
                <label for="inputRazaosocial">Razão Social</label>
                <input type="text" name="razao_social" class="form-control" value="{{fornecedor.razao_social}}" disabled="true">
            </div>
        </div>

        <a href="/listarFornecedor" class="btn btn-warning text-white" role="button" id="botoes">Cancelar</a>
        <button type="submit" class="btn btn-danger" id="botoes">Deletar</button>
        </form>
    </div>
{% endblock %}