<title>Inserção</title>

{% extends "layout.html" %}

{% block rolf %}
    <div class="container">
		<h2 id="titulo-pags">Inserção</h2>

		<form class="ml-3" action="/salvar_insercao" method="POST" name="form_insercao" class="ml-3">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input class="form-control" type="text" name="nome">
            </div>

            <div class="form-group">
                <label for="idade">Idade:</label>
                <input class="form-control" type="number" name="idade" min="1" max="125">
            </div>

            <div class="form-group">
                <label for="idade">Sexo:</label>
                <select class="form-control" name="sexo">
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                </select>
            </div>

            <div class="form-group">
                <label for="salario">Salário:</label>
                <input class="form-control" type="text" name="salario">
            </div>

            <a href="/listagem" class="btn btn-warning text-white" role="button" id="botoes">Cancelar</a>
            <button type="submit" class="btn btn-success" id="botoes">Inserir</button>
        </form>
	</div>
{% endblock %}