<title>Gerenciar Pedidos </title>

{% extends "layout.html" %}

{% block rolf %}
<div class="container" style="height: 96%;">
  <h2 id="titulo-pags">Gerenciar Pedidos </h2>

  <form action="consultaPedidos" method="POST" name="form_consulta" class="ml-3">
    <div class=form-group>
      <div class="row">
        <input class="form-control col-md-5 mr-4" type="text" name="consulta" placeholder="Digite aqui sua consulta">
        <select class="form-control col-md-2 mr-1" name="campo">
          <option value="nomeEmpresa">Nome da Empresa</option>
          <option value="numeroPedido">Numero do Pedido</option>
        </select>
        <button type="submit" class="btn btn-dark">Consultar</button>
      </div>
    </div>
  </form>
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0">
      <thead>
        <tr>
          <th class="th-sm text-uppercase">Empresa</th>
          <th class="th-sm text-uppercase">Usúario</th>
          <th class="th-sm text-uppercase">Número</th>
          <th class="th-sm text-uppercase">Data</th>
          <th class="th-sm text-uppercase">Valor</th>
          <th class="th-sm text-uppercase">Status</th>
          <th class="th-sm text-uppercase">Editar</th>
          <th class="th-sm text-uppercase">Detalhes</th>
        </tr>
      </thead>
      <tbody>
      {% for pedido in pedidos['items'] %}
      <tr>
        <td disable="true">{{pedido.empresa}}</td>
        <td disable="true">{{pedido.nomeUsuario}} </td>
        <td disable="true">{{pedido.numeroPedido}} </td>
        <td disable="true">{{pedido.DatadoPedido}} </td>
        <td disable="true" id="valorPedido" value="{{pedido.ValorPedido}}">{{pedido.ValorPedido}}</td>
        <td disable="true">
          {{pedido.StatusdePagamento}}
        </td>
        <td disable="true">
          <a href="/editarPedido/{{pedido.numeroPedido}}"  class="btn btn-primary" role="button" id="botoes">
            <img src="../static/icons/pencil-square.svg" alt="Editar">
          </a>
        </td>
        <td disable="true">
          <a href="/detalhesPedidoAdm/{{pedido.numeroPedido}}" class="btn btn-info" role="button" id="botoes">
            <img src="../static/icons/card-list.svg" alt="Detalhes">
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>

  </div>

  <div class="container d-flex justify-content-center">
    <nav aria-label="...">
      <ul class="pagination">
        {% if not pedidos.has_prev %}
        <li class="page-item disabled">
          {% endif %}
          <a class="page-link" href="./{{pedidos.prev_num}}">Previous</a>
        </li>
        {% set numero = pedidos.pages| int %}
        {% for page in range(1,numero+1) %}
        <li class="page-item {% if page == pedidos.page %} active {% endif %}">
          <a class="page-link" href="./{{page}}"> {{page}} <span class="sr-only">(current)</span></a>
        </li>
        {% endfor %}

        {% if not pedidos.has_next %}
        <li class="page-item disabled">
          {% endif %}
          <a class="page-link" href="./{{pedidos.next_num}}">Next</a>
        </li>
      </ul>
    </nav>
  </div>
  {% endblock %}