<title>Listar Produto</title>

{% extends "layout.html" %}

{% block rolf %}
	<div class="container" style="height: 96%;">
		<h2 id="titulo-pags">Selecionar Produtos</h2>

		<table id="dtBasicExample"class="table table-striped table-bordered table-sm" cellspacing="0">
			<thead>
				<tr>
					<th nowrap="true" class="th-sm text-uppercase">Produto</th>
					<th nowrap="true" class="th-sm text-uppercase">Valor KG</th>
					<th nowrap="true" class="th-sm text-uppercase">KG Disponiveis</th>
					<th nowrap="true" class="th-sm text-uppercase">Selecionar KG</th>
					<th nowrap="true" class="th-sm text-uppercase">KG Selecionado</th>
					<th nowrap="true" class="th-sm text-uppercase">Valor do Produto</th>
					<th nowrap="true" class="th-sm text-uppercase">Adicionar</th>
					<th nowrap="true" class="th-sm text-uppercase">Remover</th>
				</tr>
			</thead>

			<tbody>
				{% for produto in produtos['items'] %}
					<tr>
						<td>{{produto.nome}}</td>
						<input type="hidden" id="valorProduto{{produto.idProduto}}" value="{{produto.valor}}">
						<td id="valorTela{{produto.idProduto}}" nowrap="true">{{produto.valorTela}}</td>
						<td id="quantidadeRestante{{produto.idProduto}}">{{produto.kg}}</td>
						<td>
							<input class="valor"type="text" id="{{produto.idProduto}}" value="" placeholder="Adicione os quilos"></input>
						</td>
						<td id="quantidadeSelecionada{{produto.idProduto}}" value=""></td>
						<td id="valorSelecionado{{produto.idProduto}}" value=""></td>
						<td>
							<button class="btn btn-info" role="button" id="botoes" onclick="addProduto('{{produto.idProduto}}')">
								<img src="../static/icons/cart-plus.svg" alt="Adicionar">
							</button>
						</td>
						<td>
							<button class="btn btn-danger" role="button" id="botoes" onclick="removeProduto('{{produto.idProduto}}')">
								<img src="../static/icons/trash.svg" alt="Remover">
							</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="container d-flex justify-content-center">
			<div class="row col-md-10">
				<h3>TOTAL </h3>
				<h3 id="somaProduto" type="number"> : 0.00</h3>
			</div>
			<div>
				<button class="btn btn-secondary" role="button" id="botoes" onclick="enviarPedido()">
					Finalizar Pedido
				</button>
	
			</div>
		</div>
	</div>
	
	<div class="container d-flex justify-content-center">
		<nav aria-label="...">
			<ul class="pagination">
				{% if not produtos.has_prev %}
				<li class="page-item disabled">
				{% endif %}
					<a class="page-link" href="./{{produtos.prev_num}}">Previous</a>
				</li>

				{% set numero = produtos.pages| int %}

				{% for page in range(numero) %}
					<li class="page-item {% if page == produtos.page %} active {% endif %}">
						<a class="page-link" href="./{{page}}" > {{page}} <span class="sr-only">(current)</span></a>
					</li>
				{% endfor %}
			
				{% if not produtos.has_next %}
				<li class="page-item disabled">
				{% endif %}
					<a class="page-link" href="./{{produtos.next_num}}">Next</a>
				</li>
			</ul>
		</nav>
	</div>

	<script>
		document.listProdutos = []
		valorSoma = 0

		function addProduto(id) {
			var quantity = parseInt(document.getElementById(id).value)
			var valorTela = document.getElementById('valorTela'+id).innerText
			var valorProduto = document.getElementById('valorProduto'+id).value
			var valortratado = parseFloat(valorProduto)
			var qtdDisponivel = document.getElementById('quantidadeRestante'+id).innerText
			qtdDisponivel = ConverterValorQuilo(qtdDisponivel)
			if (quantity  > qtdDisponivel){
				alert ('Quantidade selecionada não disponivel em estoque')
				return
			};
			var estoque = parseInt(qtdDisponivel) - quantity
			valorSoma += CalcularSubTotal(quantity,valortratado)

			var result = document.listProdutos.find(x => x.idProduto === id)
			if (result === undefined) {
				var quantidade = quantity 
				var valorCalculo = valortratado

				document.listProdutos.push({idProduto: id, 
					quantity: quantity ,
					valorProduto: valortratado})
				
				var result = CalcularSubTotal(quantidade,valortratado)
				const formatado = result.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
				document.getElementById('quantidadeSelecionada'+id).innerText = quantity
				document.getElementById('valorSelecionado'+id).innerText = formatado
			}else{
				index = document.listProdutos.findIndex((obj => obj.idProduto == result.idProduto))
				document.listProdutos[index].quantity += quantity
				document.listProdutos[index].valorProduto = valortratado
				var quantidade = document.listProdutos[index].quantity 
				var quantidadeValor = document.listProdutos[index].valorProduto
				var result = CalcularSubTotal(quantidade,quantidadeValor)
				const formatado = result.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
				document.getElementById('quantidadeSelecionada'+id).innerText = document.listProdutos[index].quantity
				document.getElementById('valorSelecionado'+id).innerText = formatado
			}

			document.getElementById('quantidadeRestante'+id).innerText = estoque
			const valorTotal = valorSoma.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
			document.getElementById('somaProduto').innerText = valorTotal
			document.getElementById(id).value = "";
		}

		function ConverterValorQuilo (valor){
			var valorConvertido = valor.replace('.','')
			var valorConvertido = valorConvertido.replace(',','.')
			return valorConvertido
		}

		function CalcularSubTotal(quantidade,valor){
			var valorProduto = quantidade * valor
			return valorProduto
		}
			
			
		function removeProduto(id) {
			var index = document.listProdutos.findIndex((obj => obj.idProduto == id ))
			var qtdDisponivel = document.getElementById('quantidadeRestante'+id).innerText
			var kgSelecionado = document.listProdutos[index].quantity

			if (document.listProdutos[index].idProduto == id) {
				document.listProdutos.pop([index])
			}
			
			var estoque = parseInt(qtdDisponivel) + parseInt(kgSelecionado)
			var valorProduto = document.getElementById('valorProduto'+id).value

			valorSoma -= CalcularSubTotal(kgSelecionado,valorProduto)

			document.getElementById('quantidadeRestante'+id).innerText = estoque
			const valorTotal = valorSoma.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
			document.getElementById('somaProduto').innerText = valorTotal
			document.getElementById('quantidadeSelecionada'+id).innerText = "";
			document.getElementById('valorSelecionado'+id).innerText = "";
			document.getElementById(id).value = "";
		}

		function enviarPedido () {
			$.ajax({
				url: "/pedido/addPedido/",
				type: "POST",
				async: false,
				data: {
					lista : JSON.stringify(document.listProdutos),
				},
				success: function(response) {
				console.log("===== SUCCESS =====");
				console.log(response);
				console.log(response.numeroPedido)
				window.location = '/detalhesPedido/'+response.numeroPedido;
				},
				error: function(response) {
				console.log("===== ERROR =====");
				console.log(response);
				}
			});
		}
	</script>
{% endblock %}
