<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>
	<title>Listagem</title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js" 
	integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" 
	crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark">
		<ul class="navbar-nav col-md-12">
			<li class="nav-item " >
				<a class="nav-link"	href="/listagem">LISTAGEM</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"	href="/insercao">NOVO</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"	href="/graficos">GRAFICOS</a>
			</li>
			<div class="dropdown">
				<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Produtos
				</a>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				  <a class="dropdown-item" href="/insercao">Cadastrar Produto</a>
				  <a class="dropdown-item" href="#">Consultar Produto</a>
				  <a class="dropdown-item" href="#">Receber Produto</a>
				</div>
			  </div>
			  <div class="dropdown">
				<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Usuários
				</a>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				  <a class="dropdown-item" href="/cadastroUser">Cadastrar Usuário</a>
				  <a class="dropdown-item" href="/listarUsuarios">Consultar Usuário</a>
				  <a class="dropdown-item" href="#">Receber Produto</a>
				</div>
			  </div>
			  <li class="nav-item ">
				<a class="nav-link"	href="/logout">Sair</a>
			</li>
		</ul>
	</nav>
	<br>
	<div class="container-fluid">
		<h2>Usuários</h2>
		<form action="consulta" method="POST" name="form_consulta" class="ml-3">
			<div class="form-group col-md-12">
				<div class="row">			
					<div class="col-md-5">
						<input class="form-control col-md-6" type="text"  name="consulta" 
						placeholder="Digite aqui sua consulta">
					</div>
					<div class="col-md-5">					
						<select class="form-control col-md-6" name="campo">
							<option value="nome">Nome</option>
							<option value="email">Email</option>
							<option value="tipouser">Tipo de Usuário</option>
						</select>
					</div>

					<div class="col-md-2">
						<button type="submit" class="btn btn-outline-success my-2 my-sm-0">Consultar</button>
					</div>
				</div>
			</div>
			
		</form>
		<div style="overflow: scroll; height: 310px; width: 100%;"  align="center">
			 <table class="table"> 
				<thead>
					<tr>
						<th> <a href="/ordenacao/id/{{ordem}}">ID</a></th>
						<th> <a href="/ordenacao/nome/{{ordem}}">Nome</a></th>
						<th> <a href="/ordenacao/email/{{ordem}}">Email</a></th>
						<th> <a href="/ordenacao/endereco/{{ordem}}">Endereço</a></th>
						<th> <a href="/ordenacao/cidade/{{ordem}}">Cidade</a></th>
						<th> <a href="/ordenacao/estado/{{ordem}}">Estado</a></th>
						<th> <a href="/ordenacao/cep/{{ordem}}">Cep</a></th>
						<th> <a href="/ordenacao/tipouser/{{ordem}}">Tipo de Usuário</a></th>
					</tr>
				</thead>
				<tbody>
					{% for usuario in usuarios %}
						<tr>
							<td nowrap="true"> 
								<a href="/selecao/{{usuario.id}}">{{usuario.id}}</a>
							</td>
							<td nowrap="true">{{usuario.nome}}</td>
							<td nowrap="true">{{usuario.email}}</td>
							<td nowrap="true">{{usuario.endereco}}</td>
							<td nowrap="true">{{usuario.cidade}}</td>
							<td nowrap="true">{{usuario.estado}}</td>
							<td nowrap="true">{{usuario.estado}}</td>
							<td nowrap="true">{{usuario.cep}}</td>
							<td nowrap="true">{{usuario.tipouser}}</td>
							<td>
								<a href="/edicao/{{usuario.id}}"
								class="btn btn-primary" role="button">
									EDITAR
								</a>
								<a href="/delecao/{{usuario.id}}"
								class="btn btn-danger" role="button">
									DELETAR
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			 </table>
		</div>
		<!-- <a href="#" style="float: right;" onclick="relatorio()">Imprimir Relatorio</a>
		<textarea id="dados" style="display: none;">
			{% for pessoa in pessoas %}
				{{pessoa.nome}}|{{pessoa.idade}}|{{pessoa.sexo}}|{{pessoa.salario}}#
			{% endfor %}
		</textarea>
		
		<script>
			function relatorio() {
				const doc = new jsPDF({orientation:'landscape'});
				const texto = document.getElementById('dados').innerText;
				const arrLinhas = texto.split('#');
				let conteudo = 'RELATORIO DE PESSOAS\n\n';

				for (let linha = 0; linha<arrLinhas.length;linha++){
					let arrColunas = arrLinhas[linha].split('|');
					arrColunas[0] = arrColunas[0].trim().padEnd(35,'*')
					if (arrColunas[0].indexOf('*')> 0 ){
						conteudo += `NOME: ${arrColunas[0]} - `+
									`IDADE: ${arrColunas[1]} - `+
									`SEXO: ${arrColunas[2]} - `+
									`SALARIO: R$ ${arrColunas[3]}\n`;
					}
				}
				doc.setFontSize(12);
				doc.setFont('Courier');
				doc.text(conteudo,30,30);
				doc.save('Relatorio.pdf');
			}
		</script> -->
	</div>
</body>
</html>
